/*

-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA256

*/



body {
  font-family:      Verdana, Geneva, Arial, sans-serif;
  font-size:        medium;
  background-color: tan;
  margin-top:       5%;
  margin-bottom:    5%;
  margin-left:      10%;
  margin-right:     10%;
  border:           1px dotted gray;
  padding:          10px 10px 10px 10px;
}
a {
  text-decoration:  none;
  font-weight:      600;
}
a:hover {
  text-decoration:  underline;
}
a img {
  border:           0;
}
h2 {
  font-size:        150%;
}
table {
  margin-left:      20px;
  margin-right:     20px;
  caption-side:     bottom;
  border-collapse:  collapse;
}
td, th {
  padding:          5px;
  text-align:       left;
}
.copyright {
  font-size:        75%;
  font-style:       italic;
}
.slogan {
  font-size:        75%;
  font-style:       italic;
}
.confirmentry {
  font-weight:      600;
}

/*** Tables ***/

table {
font-size:          1em;
background-color:   #fafcff;
border:             1px solid #909090;
color:              #2a2a2a;
padding:            5px 5px 2px;
border-collapse:    collapse;
}

td, th {
border:             thin dotted gray;
}

/*** Inputs ***/
input[type=text] {
  font-size:        115%;
  width:            30em;
}
input[type=submit] {
  font-size:        125%;
}
select {
  font-size:        125%;
}



/*
-----BEGIN PGP SIGNATURE-----

iQIzBAEBCAAdFiEEE8iavjRZ2/dKhzGiBXQppWFastkFAl6b3WYACgkQBXQppWFa
stl8FA//VewVa74vQVXhoIgY1OanFYV1BF1VRQWDt5c7hwFv1RrF0DvwVwBAUpRh
b14i/bRkqC510Fn/maFmhgyGO1Yn0t+vgrCPsVtNCww9TKRdKndurP2BrroEPI4o
rIIgBqgzMBbLWcwg59RrcfsL+V8pZZgTJ1X44ZuUI/x2yQcRtHiEt1yDXiJbEjQ0
N6b64nAnF/IMiUoD+rUpCbkXnnLzU8N2sR5mZvPzILzXu2GtwBMUrLvKfd+ZBGky
ynB5x8Z/h6Oy4y7stXKk/g5g2JTon/Ndoi//MHwyWHnwh6+W3GJWx+0gCI7VT31J
xf8ho3dODaGZ5bubzIVygMw3O/yGOJPLLd1UH+4PwDeklpobxOf/JJmuH4zPYVmw
NzJifP+OSgivVINqqHHk7U1FeMAty9ZxckTJsmKH0oKPqowlXGS5BI7+541aNmIT
TF9Zp4x1PXGvIxItpkM18qi5ew9B+wFUuhyU5YbBOm5jqi/fRK6r7v7UxSmPUAon
fcNFWh168fl48ElC6J8s8sw2FHK+mA4ppgrYOvu9LWq+B2Bafg+GscyG612PRY+Z
aLH0wtcfw42QlYoDK5Pb0MYv0zh4JUeeIruubi1TwSMw39GXaW5r8Sq9t/oYUwk8
e7s6TkbTYGQuwbXHyUbCSgF4087cPCIj7ND5MrMSELVILmaI9pc=
=iD4Y
-----END PGP SIGNATURE-----

*/
