/*

-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA256

*/



body {
  font-family:      Verdana, Geneva, Arial, sans-serif;
  font-size:        medium;
  background-color: #26292c;
  color:            #c8e0f9;
  margin-top:       5%;
  margin-bottom:    5%;
  margin-left:      10%;
  margin-right:     10%;
  border:           1px dotted gray;
  padding:          10px 10px 10px 10px;
}
a {
  text-decoration:  none;
  font-weight:      600;
}
a:hover {
  text-decoration:  underline;
}
a img {
  border:           0;
}
h2 {
  font-size:        150%;
}
table {
  margin-left:      20px;
  margin-right:     20px;
  caption-side:     bottom;
  border-collapse:  collapse;
  color:            #c8e0f9;
}
td, th {
  padding:          5px;
  text-align:       left;
}
.copyright {
  font-size:        75%;
  font-style:       italic;
}
.slogan {
  font-size:        75%;
  font-style:       italic;
}
.confirmentry {
  font-weight:      600;
}

/*** Tables ***/

table {
font-size:          1em;
background-color:   #4b4f53;
border:             1px solid #909090;
color:              #fcfcfc;
padding:            5px 5px 2px;
border-collapse:    collapse;
}

td, th {
border:             thin dotted gray;
}

/*** Inputs ***/
input[type=text] {
  font-size:        115%;
  width:            30em;
}
input[type=submit] {
  font-size:        125%;
}
select {
  font-size:        125%;
}



/*
-----BEGIN PGP SIGNATURE-----

iQIzBAEBCAAdFiEEE8iavjRZ2/dKhzGiBXQppWFastkFAl6ctHsACgkQBXQppWFa
stlsNBAAlD68ItXOuVpZO/LKiMSTXu+f2+6AsHKyQqsQDx+pk0UTbAozQPyg/z+c
zNgOvTyGMHXodXLCMHnrUc7Nk6OwmX6NpUnhHHFraITRKIPlIG12OJ+wU70EslNT
gyNUDa1dYA35/EwzSbLJRX/PIAdUXJtqdw5MVy99dxR4bXt2dy5vmyHSWrhe+Hau
tjFsuDLY81IdGix3U5O53II8tQvwUG44x7U1jJlU9zZcn2EKsee3LXsQSQYxGgDN
4qsySVT4IRxIQpPJiM+sVjTxyG1SlRTRB5FBrauYC+2/FbhGSWxyg4ddNfWvvKJF
Wo5F2/4xw3BFwZe7/4+srzv+8hDJuX9pbg/nG4OQwECltPd7fPXyqd2MmToFmS9T
aG43SvbGe78fETG7ax/RgPH92ztTM9mKqjEo/9wK1nOco1bTDaEYwOoWM2uQqAjv
cLZd1dFoubkv9lNNGlO0/yVzlawxAxKwKc+BBglKP+bsX2Qdt4ZtQrdqytBwilAj
bmpU5wjI4qo+DVQF6902Pt+jD+BEIx/ZfBMjnPVtTpw3FT1C6OrlcXPClTzS4/7g
rP22cuGUCsnmzARYxSniPWXS99ZAbUkXNxiXVVETqdK8Vj0YMDQmYjuI9KmmrHLd
jRGDKglOMu0BhtQNsZkuQeBLFBBNG5PHQ32GQnnOrFQ4pcaB5yA=
=Fftn
-----END PGP SIGNATURE-----

*/
